.booking {
  width: 100%;
  background-color: #e3ecf6;
  background-image: url("../img/decoration/bg-form-desktop.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 120px;

  @media (min-resolution: 2dppx) and (min-width: $desktop-width) {
    background-image: url("../img/decoration/bg-form-desktop@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/decoration/bg-form-tablet.jpg");
    margin-bottom: 100px;

    @media (min-resolution: 2dppx) and (max-width: $desktop-width) {
      background-image: url("../img/decoration/bg-form-tablet@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/decoration/bg-form-mobile.jpg");
    margin-bottom: 58px;

    @media (min-resolution: 2dppx) and (max-width: $tablet-width) {
      background-image: url("../img/decoration/bg-form-mobile@2x.jpg");
    }
  }
}

.booking__wrapper {
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  padding: 50px 15px;
  box-sizing: border-box;

  @media (max-width: $desktop-width) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 88px 170px 98px 178px;
  }

  @media (max-width: $tablet-width) {
    padding: 59px 15px 64px;
  }
}

.booking__text-wrapper {
  width: 500px;
  margin-right: auto;
  margin-top: 163px;

  @media (max-width: $desktop-width) {
    width: auto;
    min-width: min-content;
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }
}

.booking__text-wrapper h2 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 40px;
  line-height: 60px;

  @media (max-width: $desktop-width) {
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 5px;
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 14px;
  }
}

.booking__text-wrapper p {
  font-size: 18px;
  line-height: 27px;
  width: 352px;
  margin: 0;

  @media (max-width: $desktop-width) {
    width: auto;
    text-align: center;
    margin-bottom: 52px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 33px;
    min-width: min-content;
    padding: 0 10px;
  }
}

.booking__form-wrapper {
  @media (max-width: $desktop-width) {
    padding: 1px 9px;
  }

  @media (max-width: $tablet-width) {
    padding: 1px 0;
  }
}

.booking__form-wrapper form {
  width: 403px;
  min-height: 455px;
  box-sizing: border-box;
  display: flex;
  padding: 44px 0;
  flex-direction: column;
  background-color: $main-blue;
  color: $title-white;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);

  @media (max-width: $desktop-width) {
    width: 100%;
    padding: 44px 48px 51px 50px;
  }

  @media (max-width: $tablet-width) {
    padding: 35px 30px 40px;
    min-height: auto;
  }
}

.booking__form-wrapper h3 {
  margin: 0 0 27px 0;
  padding: 0 48px 0 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $desktop-width) {
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    line-height: 25px;
    padding: 0;
    margin: 0 auto 29px;
  }
}

.booking__form-input {
  margin: 0 50px 20px;
  position: relative;

  &:nth-last-of-type(2) {
    margin-bottom: 23px;
  }

  @media (max-width: $desktop-width) {
    margin: 0 0 20px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 19px;

    &:nth-last-of-type(2) {
      margin-bottom: 21px;
    }
  }
}

.booking__message {
  display: none;

  &--error {
    display: block;
    position: absolute;
    width: max-content;
    max-width: 75%;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 5;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.booking__form-input input {
  width: 303px;
  height: 43px;
  padding: 11px 14px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
  color: $main-blue;

  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.booking__form-checkbox {
  margin-bottom: 33px;
  margin-left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $desktop-width) {
    justify-content: start;
    margin-left: 24px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 26px;
    margin-left: 28px;
  }
}

.booking__form-checkbox label {
  position: relative;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.booking__form-checkbox span {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: -3px;
  left: -23px;
  background-color: $title-white;

  @media (max-width: $tablet-width) {
    width: 20px;
    height: 20px;
    top: 0;
    left: -28px;
  }
}

.booking__form-checkbox input:checked + span::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 8px;
  background-image: url("../img/svg/form-arrow.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.booking__form-checkbox input {
  &:hover + span,
  &:focus + span {
    outline: 1px solid #bcd6f0;
  }
}

.booking__button {
  width: 303px;
  margin: 0 auto;
  min-height: 43px;

  @media (max-width: $desktop-width) {
    width: 100%;
  }
}
