.cruises {
  width: 1130px;
  margin: 0 auto 120px;

  @media (max-width: $desktop-width) {
    margin-bottom: 100px;
    width: 648px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 65px;
    width: 290px;
  }
}

.cruises__header {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 49px;
  text-align: center;

  @media (max-width: $desktop-width) {
    font-size: 26px;
    line-height: 39px;
    margin-left: 6px;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.cruises__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 30px;

  @media (max-width: $desktop-width) {
    grid-template-columns: repeat(2, 309px);
    margin-left: 4px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 0;
  }
}

.cruises__img {
  display: block;
  object-fit: cover;

  @media (max-width: $desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.cruises__item {
  position: relative;

  &:hover {
    .cruises__wrapper {
      box-sizing: border-box;
      color: $title-white;
      position: absolute;
      width: 100%;
      min-height: 100%;
      top: 0;
      left: 0;
      padding: 69px 25px 35px;
      display: flex;
      flex-direction: column;
      background-color: $main-blue;
      z-index: 2;
    }

    .cruises__card-header {
      bottom: unset;
      top: 0;
      left: 0;
      margin: 30px 0 0 25px;
    }
  }

  @media (max-width: $desktop-width) {
    width: 309px;
    height: 386px;

    &:hover {
      .cruises__wrapper {
        padding-left: 35px;
      }

      .cruises__card-header {
        margin-left: 35px;
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 386px;
    margin: 0 auto 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      .cruises__wrapper {
        padding-left: 25px;
      }

      .cruises__card-header {
        margin-left: 25px;
      }
    }
  }
}

.cruises__wrapper {
  display: none;
}

.cruises__card-header {
  color: $title-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  position: absolute;
  bottom: 0;
  margin: 0 0 22px 30px;
  z-index: 3;

  @media (max-width: $desktop-width) {
    margin: 0 0 27px 35px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 17px 25px;
  }
}

.cruises__title {
  margin: 0;
  font-weight: 500;
}

.cruises__text {
  display: block;
  color: $text-white;
  margin: 0 0 12px;

  &:last-of-type {
    margin-bottom: 5px;
  }
}

.cruises__button {
  margin-top: auto;

  @media (max-width: $desktop-width) {
    width: 239px;
  }

  @media (max-width: $tablet-width) {
    width: 220px;
  }
}
