.cruises {
  width: 1130px;
  margin: 0 auto 120px;

  @media (max-width: $desktop-width) {
    margin-bottom: 100px;
    width: 648px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 65px;
    width: 290px;
  }
}

.cruises__header {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 49px;
  text-align: center;

  @media (max-width: $desktop-width) {
    font-size: 26px;
    line-height: 39px;
    margin-left: 6px;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.cruises__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 30px;

  @media (max-width: $desktop-width) {
    grid-template-columns: repeat(2, 309px);
    margin-left: 4px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 0;
  }
}

.cruises__item img {
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: $desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.cruises__item {
  position: relative;
  height: 386px;
  z-index: 1;
  background-color: $main-blue;

  &:hover {
    overflow-y: auto;
    overflow-x: hidden;

    .cruises__wrapper {
      background-color: $main-blue;
      padding: 30px 25px 35px;
      display: flex;
      flex-direction: column;
      min-height: 386px;
      height: max-content;
    }

    .cruises__item-about {
      visibility: visible;
    }

    .cruises__button {
      visibility: visible;
    }

    h3 {
      position: static;
      margin: 0 0 13px;
    }
  }

  @media (max-width: $desktop-width) {
    width: 309px;
    height: 386px;

    &:hover {
      .cruises__wrapper {
        padding: 30px 35px 34px;
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 386px;
    margin: 0 auto 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      .cruises__wrapper {
        padding: 30px 25px 35px;
      }
    }
  }
}

.cruises__item-about {
  visibility: hidden;
}

.cruises__wrapper {
  position: relative;
  box-sizing: border-box;
  height: 100%;

  h3 {
    color: $title-white;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    bottom: 0;
    margin: 0 0 22px 30px;

    @media (max-width: $desktop-width) {
      margin: 0 0 27px 35px;
    }

    @media (max-width: $tablet-width) {
      margin: 0 0 17px 25px;
    }
  }
}

.cruises__item-about h4 {
  margin: 0;
  font-weight: 500;
  color: $title-white;
  font-size: 14px;
  line-height: 20px;
}

.cruises__item-about p {
  display: block;
  color: $text-white;
  margin: 0 0 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.cruises__button {
  visibility: hidden;
  margin-top: auto;
  width: 100%;
}
