.footer {
  background-color: $main-blue;
}


.footer__wrapper {
  max-width: 1158px;
  margin: 0 auto;
  padding: 51px 15px;
  align-items: center;
  display: flex;
  color: $title-white;

  @media (max-width: $desktop-width) {
    width: auto;
    padding: 43px 41px 43px 49px;
  }

  @media (max-width: $tablet-width) {
    padding: 35px 15px 40px;
    min-width: min-content;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo-link {
  display: block;
  width: 70px;
  height: 38px;
  margin-right: 40px;

  @media (max-width: $desktop-width) {
    width: 38px;
    height: 32px;
    margin-right: 25px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 29px;
    margin-right: 0;
    width: 42px;
    height: 22px;
    margin-left: 1px;
  }
}

.footer__logo {
  fill: $title-white;

  @media (max-width: $desktop-width) {
    width: 38px;
    height: 32px;
  }
}

.footer__navigation-list {
  margin: 0 auto 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  font-weight: 500;
  font-size: 16px;

  @media (max-width: $desktop-width) {
    max-width: 450px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 95px;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 25px;
  }
}

.footer__navigation-item {
  margin-right: 33px;
  row-gap: 10px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $desktop-width) {
    margin-right: 23px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    row-gap: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.footer__navigation-link {
  color: $title-white;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #bcd6f0;
  }

  &:active {
    color: #a9d4fe;
  }

  @media (max-width: $desktop-width) {
    font-size: 12px;
    line-height: 14px;
  }
}


.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.footer__social-item {
  margin-right: 27px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $desktop-width) {
    margin-right: 23px;

    &--facebook {
      width: 9px;
      height: 16px;
    }

    &--insta {
      width: 16px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 23px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    .footer__social-logo {
      fill: #bcd6f0;
    }
  }

  &:active {
    .footer__social-logo {
      fill: #a9d4fe;
    }
  }
}

.footer__social-logo {
  fill: $title-white;
  width: 100%;
  height: 100%;
}
