.button {
  cursor: pointer;
  border: none;
  background-color: $title-white;
  width: 210px;
  height: 43px;
  padding: 0;
  color: $main-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
