.button {
  cursor: pointer;
  border: none;
  background-color: $title-white;
  width: 210px;
  min-height: 40px;
  padding: 0;
  color: $main-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  &:hover,
  &:focus {
    background-color: #bcd6f0;
  }

  &:active {
    background-color: #a9d4fe;
    color: $title-white;
  }
}
